.Tile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Tile > div {
  border: 1px solid red;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
}

.Tile > div:active {
  background: red;
}
